<h1>Teachers of Saint Rudd Elementary School</h1>
<ul>
  {% for teacher in object_list %}
    <li>
      <a href="{% url "classroom:detail_teacher" pk=teacher.pk %}">{{teacher.first_name}} {{teacher.last_name}}</a>
    </li>
    <ul>
      <li>
        <a href="{% url "classroom:update_teacher" pk=teacher.pk %}">Update {{teacher.first_name}} {{teacher.last_name}}</a>
      </li>
      <li>
        <a href="{% url "classroom:delete_teacher" pk=teacher.pk %}">DELETE {{teacher.first_name}} {{teacher.last_name}}</a>
      </li>
    </ul>
  {% endfor %}
</ul>